<div id="footer" class="container-fluid">
    <div id="pie_pagina">
        <div class="contenedor_pie_pagina">
            <div class="principal">
                <div class="logos_institucionales" >
                    <div class="logo_sae img-fluid">
                        <img src="assets/img/logo_sae_blanco.svg" class="imagen" alt="">
                    </div>
                    <div class="logos_proyecto">
                        <div class="logo_alcaldia">
                            <img src="assets/img/logo_alcaldia.svg" alt="">
                        </div>
                        <div class="linea">
                            <img src="assets/img/linea.svg" alt="">
                        </div>
                        <div class="logo_sed">
                            <img src="assets/img/logo_sed.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="informacion">
                    <div class="info">
                        <h1>CONTÁCTENOS</h1>
                        <p class="telefono">Tel: +57 601+3241000</p>
                        <p>Correo electrónico soporte:</p>
                        <span>apoyoescolardexon@educacionbogota.gov.co</span>
                    </div>
                </div>
                <div class="logos_gobierno">
                    <div class="marca_pais">
                        <img src="assets/img/marca_pais.svg" alt="">
                    </div>
                    <div class="logo_gov">
                        <img src="assets/img/gov_logo.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="derechos">
        <div class="contenedor_derechos container-fluid container-xl">
            <p>© 2023 Secretaría de Educación Distrital - TODOS LOS DERECHOS RESERVADOS</p>
        </div>
    </div>
</div>
