#contenedorCopiaAsignacionAcademica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0rem;
}

.titulo h1 {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0rem 0.9rem;
}

.infoMensaje p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0rem 0.9rem;

}

.icono span{
    color: #005CBB;
}

.infoTabla {
    display: flex;
    align-items: center;
    width: calc(50% - 10px);
    text-align: left;
    height: 3rem;
    gap: 10%;
}

.listadoDocentes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.625rem;
    max-height: 12rem;
    overflow-y: scroll;
}

.form_docentes{
  padding: 1.5rem 2rem;
  background: #DBE4E6;
  border-radius: 0.5rem;
}

.funcionario.infoTabla {
    width: 80%;
    font-size: 0.875rem;
    justify-self: flex-start;
}

.acciones {
    margin-top: 0.6rem;
}

.error_funcionario {
    background: #F8D7DA;
    height: 128px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.5rem;
}

.error_funcionario span:nth-child(1) {
    font-size: 3rem;
}

.error_funcionario span {
    color: #58151C;
}

.error_funcionario span:nth-child(2) {
    color: #58151C;
    width: 82%;
    margin: 0 4%;
    // font-size: 3rem;
}

@media (max-width:567.98px){
  .infoTabla{
    width: 100%;
    margin: 0 auto;
  }
}
