.filter-container {
  margin-left: 20px;
  margin-top: 10px;

  .main-filters {
    align-items: center;
    justify-content: space-between;
  }
}

.advanced-filters {
  background: #f8fafa;
  padding: 15px;
  border-radius: 20px;
  div {
    margin: 10px 0px 15px 0px;
  }
  > .submit-button {
    button {
      margin: auto;
      width: 60%;
    }
  }
}
