<div id="carousel-escuela" class="carousel carousel-dark slide" data-bs-ride="carousel" *ngIf="slides">
  <div class="carousel-inner">
    <div class="carousel-item mb-2" [class.active]="i === 0" *ngFor="let slide of slides; let i = index"
      [attr.data-bs-interval]="3000">
      <div class="carousel-image">
        <img [src]="slide.url" class="slide-one" alt="" loading="lazy" />
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-escuela" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-escuela" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
