<div id="contenedorMensajeDescargar">

    <!-- <div class="icono">
        <span class="material-symbols-outlined">
            feedback
        </span>
    </div> -->

    <div class="titulo">
        <h1>Descargar reporte</h1>
    </div>

    <div class="infoMensaje">
        <p>Por favor, seleccione el tipo de archivo que quiere descargar</p>
    </div>

    <div *ngIf="infoMensaje.exportePorinstitucion === false" class="acciones mb-5 mt-2 d-flex justify-content-center">
        <button (click)="exportar('pdf')" class="btn boton_primario">
            <span *ngIf="exportandoRegistros == false">Descargar PDF</span> 
            <span *ngIf="exportandoRegistros == true">Descargando PDF</span> 
            <div *ngIf="exportandoRegistros == true" class="spinner-border float-end" role="status"></div>
        </button>
        <button (click)="exportar('excel')" class="btn boton_primario">
            <span *ngIf="exportandoRegistrosExcel == false">Descargar Excel</span>
            <span *ngIf="exportandoRegistrosExcel == true">Descargando Excel</span> 
            <div *ngIf="exportandoRegistrosExcel == true" class="spinner-border float-end" role="status"></div>
        </button>
    </div>

    <div *ngIf="infoMensaje.exportePorinstitucion === true" class="acciones mb-5 mt-2 d-flex justify-content-center">
        <button (click)="exportarInstitucion('pdf')" class="btn boton_primario">
            <span *ngIf="exportandoRegistros == false">Descargar PDF</span> 
            <span *ngIf="exportandoRegistros == true">Descargando PDF</span> 
            <div *ngIf="exportandoRegistros == true" class="spinner-border float-end" role="status"></div>
        </button>
        <button (click)="exportarInstitucion('excel')" class="btn boton_primario">
            <span *ngIf="exportandoRegistrosExcel == false">Descargar Excel</span> 
            <span *ngIf="exportandoRegistrosExcel == true">Descargando Excel</span> 
            <div *ngIf="exportandoRegistrosExcel == true" class="spinner-border float-end" role="status"></div>
        </button>
    </div>

    <div class="acciones">
        <button (click)="cerrarModal()" class="btn boton_primario">Cerrar</button>
    </div>

</div>
