<div id="contenedorMensajeDescargar">

    <!-- <div class="icono">
        <span class="material-symbols-outlined">
            feedback
        </span>
    </div> -->

    <div class="titulo">
        <h1>Descargar reporte</h1>
    </div>

    <div class="infoMensaje">
        <p>Por favor, seleccione el tipo de archivo que quiere descargar</p>
    </div>

    <div class="acciones mb-5 mt-2 d-flex justify-content-center">
        <button class="btn boton_primario">Descargar PDF</button>
        <button class="btn boton_primario">Descargar Excel</button>
    </div>

    <div class="acciones">
        <button (click)="cerrarModal()" class="btn boton_primario">Cerrar</button>
    </div>

</div>
