<div class="contenedor">
  <div class="d-flex flex-row header-tabla">
    <div class="titulo-tabla ">
      <h4>{{titulo}}</h4>
    </div>
    <div class="subtitulo-tabla d-flex flex-row">
      <div class="subtitulo"><span>{{subtitulo}}</span></div>
    </div>
    <div class="iconos-tabla d-flex flex-row">
      <div class="botones-decarga d-flex flex-column">
        <img class="icono" src="assets//iconos/excel_icono.svg" (click)="exportar('excel')"/>
        <span>Excel</span>
      </div>
      <div class="botones-decarga d-flex flex-column">
        <img class="icono" src="assets//iconos/pdf_icono.svg" (click)="exportar('pdf')"/>
        <span>Pdf</span>
      </div>
    </div>
    <div class="input-busqueda-tabla">
      <div class="input-wrapper">
        <span class="input-icon material-symbols-outlined">search</span>
        <input type="text" class="form_input" placeholder="buscar" (change)="buscarDatos($event)">
      </div>
    </div>
  </div>
  <ng-container *ngFor="let registro of datos">
    <app-fila-dinamica-tabla (exportarDatos)="exportar($event)" [fila]="registro" [columnasTabla]="columnasTabla" descripcionBotonesDescarga="Descarga log individual:"></app-fila-dinamica-tabla>
  </ng-container>
  <div class="d-flex flex-row footer-tabla">
    <span class="paginacion-tabla">
      {{itemXpag}} Registros por página - Página {{nPag+1}} de {{totalPag}} paginas - Total de registros {{totalReg}}
    </span>
    <div class="paginacion-botones">
      <img src="assets//iconos/tabla_primer_pag_disabled.svg" *ngIf="nPag==0"/>
      <img style="cursor: pointer;" src="assets//iconos/tabla_primer_pag.svg" *ngIf="nPag>0" (click)="primeraPag()"/>
      <img src="assets//iconos/tabla_pag_anterior_disabled.svg" *ngIf="nPag==0"/>
      <img style="cursor: pointer;" src="assets//iconos/tabla_pag_anterior.svg" *ngIf="nPag>0" (click)="anteriorPag()"/>
      <img src="assets//iconos/tabla_pag_siguiente_disabled.svg" *ngIf="nPag==totalPag-1"/>
      <img style="cursor: pointer;" src="assets//iconos/tabla_pag_siguiente.svg" *ngIf="nPag<totalPag-1" (click)="siguientePag()"/>
      <img src="assets//iconos/tabla_ultima_pag_disabled.svg" *ngIf="nPag==totalPag-1"/>
      <img style="cursor: pointer;" src="assets//iconos/tabla_ultima_pag.svg" *ngIf="nPag<totalPag-1" (click)="ultimaPag()"/>
    </div>
  </div>
</div>
