<app-cargando *ngIf="cargandoPermisos && !esIframe && !cargandoIframe"></app-cargando>
<div id="contenedorInicio" class="container-lg" *ngIf="!cargandoPermisos && !esIframe && !cargandoIframe">
  <div class="titulo">BIENVENIDO AL SISTEMA DE APOYO ESCOLAR</div>
  <div class="row">
    <div class="col-12" [ngClass]="{'col-lg-7': (puedeVerMensajes && puedeVerColegios) || (puedeVerMensajes && puedeVerEstudiantes),
    'col-lg-12': (puedeVerColegios && puedeVerEstudiantes && puedeVerMensajes)
  }">
      <app-lista-estudiantes
        [idColegio]="idInstitucion"
        [idSede]="idSede"
        [idJornada]="idJornada"
        *ngIf=" puedeVerEstudiantes"
        >
      </app-lista-estudiantes>
      <app-lista-colegios *ngIf="puedeVerColegios"
      [localidad]="localidadId">

      </app-lista-colegios>
    </div>
    <div class="col-12" [ngClass]="{'col-lg-5':   puedeVerEstudiantes || puedeVerColegios,
    'col-lg-12': (puedeVerColegios && puedeVerEstudiantes && puedeVerMensajes)
  }" *ngIf="puedeVerMensajes">
      <div class="contenedor-mensajes">
        <div class="titulo_mensaje">Mensajes</div>
        <app-mensaje *ngIf="cantidadMensajes > 0"></app-mensaje>
        <div class="no_mensajes" *ngIf="cantidadMensajes === 0">No tiene mensajes para mostrar</div>
        <div class="acciones mt-4" *ngIf="cantidadMensajes > 0">
          <button type="submit" class="btn boton_primario" (click)="verMensajes()">
            <div>Ver más mensajes</div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-accesos-directos></app-accesos-directos>
</div>


<app-cargando [mensaje]="mensaje" *ngIf="cargandoIframe && esIframe && !cargandoPermisos"></app-cargando>
<iframe *ngIf="esIframe && !cargandoIframe" [src]="urlIframe"></iframe>
