#contenedorInicio {
  width: 100%;
  padding: 0 1.25rem;
  position: relative;
};

.titulo {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1.5rem
};

.titulo_mensaje{
  font-size: 1rem;
  font-weight: 600;
}

.no_mensajes{
  padding: .5rem;
  font-size: .75rem;
  text-align: center;
}

iframe {
  width: 100%;
  height: 90%;
}


.contenedor-mensajes {
  background-color: #f8fafa;
  padding: 1rem 1rem;
  border-radius: 1.25rem;
};

@media (max-width: 575.98px) {
  #contenedorInicio {
    padding: 0;
  };

  .btn {
    width: 100%;
    font-size: .75rem;
    margin: 0 auto;
  };
};


@media (max-width: 1200px) and (min-width: 992.1px) {
  #contenedorInicio {
    width: 90%;
  };
};

@media (max-width: 992px) and (min-width: 768.1px) {
  #contenedorInicio {
    padding-right: 0 !important;
  };
};

@media (max-width: 768px) {
  #contenedorInicio {
    z-index: 0;
  };
};

@media (max-width: 991.98px) {
  .contenedor-mensajes {
    margin-bottom: 1.5rem;
  };
  .mensajes{
    order: 1
  }
  .datos_institucion{
    order: 2;
  }
};

@media (max-width: 1199.98px) {
  #contenedorInico > .row {
    row-gap: 0.625rem;
  };
};
