<div class="modal-header">
    <span class="material-symbols-outlined modal-icon"> feedback </span>
    <div class="modal-title" id="modal-basic-title">
        <span>Usuario no encontrado</span>
    </div>
</div>
<div class="modal-body">
    <div class="modal-texto">
        Lamentablemente, no hemos encontrado el usuario en nuestro sistema. Si su acceso se realiza a través del correo
        electrónico de Microsoft Office 365 y desea cambiar su contraseña, le recomendamos ponerse en contacto con
        nuestra mesa de servicio.
    </div>
    <div class="modal-correo">apoyoescolardexon@educacionbogota.gov.co</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn boton_secundario" (click)="cancelar()">
        Cerrar
    </button>
</div>
