.ver-politicas-modal {

  .modal-content{
    padding: 0 !important;
  }
}

#PoliticasSistema{
  min-height: calc(100vh - 320px);
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  background-color: white;
}
.ver_politica{
  width: 100%;
}

@media (max-width:991px) {
  #PoliticasSistema{
    min-height: calc(100vh - 540px);
    padding: 1rem 2rem;
  }
}
