<app-cabecera></app-cabecera>
<div id="PoliticasSistema">
  <div class="cabecera">
    <div class="titulos">
      <div *ngIf="politica">
        Política de Uso de la Aplicación<br>
        "Sistema de Apoyo Escolar"
      </div>
    </div>
  </div>
  <app-cargando *ngIf="cargandoVersion"></app-cargando>
  <div *ngIf="!cargandoVersion && politica" class="ver_politica">
    <div class="titulo">Fecha de entrada en vigencia: {{politica.fecha}}</div>
    <div class="parrafo"  [innerHTML]="contenido">
    </div>
  </div>
  <div class="acciones">
    <button type="button" class="btn boton_primario" (click)="aceptar()">
      Acepto
    </button>
  </div>
</div>
<app-pie-pagina></app-pie-pagina>
