  <div class="modal-header">
    <span class="material-symbols-outlined">
      warning
    </span>
    <div class="modal-title" id="modal-basic-title">
      Advertencia.
    </div>
  </div>
  <div class="modal-body text-center ">
    Existen datos sin guardar, ¿desea continuar?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn boton_primario" (click)="continuar()">
      Continuar
    </button>
    <button type="button" class="btn boton_secundario" (click)="salir()">
      Salir
    </button>
  </div>
