<app-cargando *ngIf="cargandoInformacion"></app-cargando>
<div class="filter-container" *ngIf="!cargandoInformacion">
  <h3>Bitácora</h3>
  <p>Seleccione un rango de fecha de acuerdo a lo que busca</p>
  <form [formGroup]="filtrosFormGroup">
    <div class="main-filters">
      <div class="row">
        <div class="campo mt-2 col-md-5">
          <div class="input-wrapper">
            <label for="usuario">
              Fecha de inicio: <span class="asterisco">*</span>
            </label>
            <span class="material-symbols-outlined input-icon">
              account_circle
            </span>
            <input
              [ngStyle]="{'border-color':invalidFechaIni?'red':'black'}"
              formControlName="fechaInicio"
              type="text"
              placeholder="Seleccione la fecha de inicio"
              ng-reflect-name="fechaInicio"
              class
              (click)="date.toggle()"
              [maxDate]="maxDate"
              type="datetime"
              readonly
              ngbDatepicker
              #date="ngbDatepicker" />
            <span
              (click)="date.toggle()"
              class="material-symbols-outlined inputIconDate">
              today
            </span>
          </div>
          <div class="contenedor_errores">
            <span [ngStyle]="{'color':invalidFechaIni?'red':'black'}" class="campo_requerido">DD/MM/AAAA</span>
          </div>
        </div>
        <div class="campo mt-2 col-md-5">
          <div class="input-wrapper">
            <label for="usuario">
              Fecha de finalizacion: <span class="asterisco">*</span>
            </label>
            <span class="material-symbols-outlined input-icon">
              account_circle
            </span>
            <input
              [ngStyle]="{'border-color':invalidFechaFin?'red':'black'}"
              formControlName="fechaFin"
              placeholder="Seleccione la fecha de fin"
              class
              (click)="date2.toggle()"
              [minDate]="minDate"
              type="datetime"
              readonly
              ngbDatepicker
              #date2="ngbDatepicker" />
            <span
              (click)="date2.toggle()"
              class="material-symbols-outlined inputIconDate">
              today
            </span>
          </div>
          <div class="contenedor_errores">
            <span [ngStyle]="{'color':invalidFechaFin?'red':'black'}" class="campo_requerido">DD/MM/AAAA</span>
          </div>
        </div>
        <div class="mb-2 mt-3 col-md-2">
          <button
            type="submit"
            class="btn boton_secundario"
            (click)="mostrarFiltrosAvanzados = !mostrarFiltrosAvanzados">
            Filtro avanzado
          </button>
        </div>
      </div>
    </div>
    <div class="row advanced-filters" *ngIf="mostrarFiltrosAvanzados">
      <h6>Filtros avanzados</h6>
      <div class="col-4">
        <div class="input-wrapper">
          <label for="usuario" class="etiqueta_select"> Usuario:</label>
          <ng-select
            [items]="listaUsuarios"
            bindValue="codigo"
            bindLabel="nombre"
            class="select"
            placeholder="Seleccione un Usuario"
            formControlName="usuario"
            (change)="$event?.codigo ? getColegios($event?.codigo) : null">
          </ng-select>
        </div>
      </div>
      <div class="col-4">
        <div class="input-wrapper">
          <label for="usuario" class="etiqueta_select"> Colegio:</label>
          <ng-select
            [items]="listaColegios"
            bindLabel="nombre"
            class="select"
            placeholder="Seleccione un colegio"
            formControlName="colegio"
            (change)="$event?.codigo ? getSedes($event?.codigo) : null">
          </ng-select>
        </div>
      </div>
      <div class="col-4">
        <div class="input-wrapper">
          <label for="usuario" class="etiqueta_select"> Sede: </label>
          <ng-select
            [items]="listaSedes"
            bindValue="codigo"
            bindLabel="nombre"
            class="select"
            placeholder="Seleccione la sede"
            formControlName="sede"
            (change)="$event?.codigo ? getJornadas($event?.codigo) : null">
          </ng-select>
        </div>
      </div>
      <div class="col-4">
        <div class="input-wrapper">
          <label for="usuario" class="etiqueta_select"> Jornada: </label>
          <ng-select
            [items]="listaJornadas"
            bindValue="id"
            bindLabel="nombre"
            class="select"
            placeholder="Seleccione la jornada"
            formControlName="jornada">
          </ng-select>
        </div>
      </div>
      <div class="col-4">
        <div class="input-wrapper">
          <label for="usuario" class="etiqueta_select"> Tipo de log: </label>
          <ng-select
            [items]="listaTiposLog"
            bindValue="id"
            bindLabel="nombre"
            class="select"
            placeholder="Seleccione el tipo de log"
            formControlName="tipoLogBitacora">
          </ng-select>
        </div>
      </div>
      <div class="mb-2 mt-3 col-4 submit-button">
        <button
          type="submit"
          class="btn boton_primario"
          (click)="consultarBitacora(0)">
          Filtrar
        </button>
      </div>
    </div>
  </form>
</div>

<app-tabla-registro-detalle
  (buscar)="buscarEnTabla($event)"
  (consultarDatos)="consultarBitacora($event)"
  [nPag]="nPag"
  [itemXpag]="itemXpag"
  [totalPag]="totalPag"
  [totalReg]="totalReg"
  (exportarDatos)="exportar($event)"
  [datos]="datosBitacora"
  [columnasTabla]="columnasTablaBitacora"
  titulo="Log de acciones"
  subtitulo="Descargar logs:"
  *ngIf="!cargandoInformacion"></app-tabla-registro-detalle>
