/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
  --textos: #191C1D;
  --textos_claro: #3F484A;
  --textos_azul: #001A42;
  --alterno: #005CBB;
  --alterno_claro: #D8E2FF;
  --borde: #6F797A;
  --borde_claro: #BFC8CA;
  --border_ligth: #CED4DA;
  --blanco: #ffffff;
  --blanco_alterno: #EFF1F1;
  --error: #BA1A1A;
  --fondo_oscuro: #2E3132;
  --fondo_claro: #F8FAFA;
  --negro: #000000;
  --header_alterno: #225db3;
  --gris_icono: #D7E3FF;
  --gris_degradado: #D9D9D9;
  --gris_manual: #F8FAFA;
  --titulos_tablas: #001B3F;
}

/*** Fuentes ***/
@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway/Raleway-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway/Raleway-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

::ng-deep angular-editor-toolbar button i {
  font-family: FontAwesome !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Raleway", "Open Sans", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

a {
  color: var(--alterno);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.campo {
  display: flex;
  flex-direction: column;
  padding-top: .5rem;
}

.input-wrapper input:focus-visible {
  border: 2px solid #F4B53F;
}

.modal-fullscreen .modal-content{
  padding: 0 !important;
}

.input-wrapper {
  position: relative;
  height: 3.5rem;
}

.input-wrapper input {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  padding-left: 3rem;
  padding-right: 1rem;
  outline: 0;
  border: 1px solid var(--borde);
  text-overflow: ellipsis;
  overflow: hidden;
}

.input-wrapper input[type=password]::-ms-reveal,
.input-wrapper input[type=password]::-ms-clear {
  display: none;
}

.campo-sin-icono input {
  padding-left: 2rem;
}


.input-wrapper input::placeholder {
  color: var(--textos);
  font-size: 1rem;
  text-overflow: ellipsis;
}

.input-wrapper input:disabled {
  background-color: #f9f9f9
}

.input-wrapper label {
  position: absolute;
  left: 0.875rem;
  font-size: 0.75rem;
  padding: 0 2px;
  line-height: 1;
  color: var(--textos);
  background-color: transparent;
  transform: translateY(-54%);
}

.input-wrapper label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(255, 255, 255);
  z-index: -1;
  border-radius: 50px;
}

.input-wrapper label .asterisco {
  font-size: 0.875rem;
  font-weight: 600;
}

.input-icon {
  position: absolute;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
}

.input-wrapper input.invalid {
  border-color: var(--error);
}

.input-password {
  padding-right: 3rem !important;
}

.input_icon-password {
  left: initial !important;
  right: 0.625rem;
  cursor: pointer;
}

.campo_requerido {
  font-size: 0.75rem;
  line-height: 1.2;
  padding: 0 0.5rem;
}

.contenedor_errores {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.3rem 1rem;
}

.invalid {

  label,
  .asterisco,
  .input-icon,
  .campo_requerido {
    color: var(--error);
  }

  .input-wrapper input {
    border-color: var(--error) !important;
  }
}

.menu_recogido {
  .cargando_registros {
    .mensaje_cargando {
      display: none;
    }
  }

  .cargando_registros .spinner-border {
    margin-left: 0;
  }
}

/** Botones **/
.btn {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border: none;
  border-radius: 1.25rem;
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem !important;
  font-weight: 500;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .material-symbols-outlined {
    color: white;
    font-size: 1.125rem !important;
  }
}

.btn:disabled {
  background-color: rgba(25, 28, 29, 0.12);
  color: #191C1D !important;
}

.boton_primario:disabled {
  background-color: rgba(25, 28, 29, 0.12);
  color: #191C1D !important;
}

.boton_primario:active {
  background-color: var(--alterno) !important;
}

.boton_secundario:active {
  background-color: var(--alterno_claro) !important;
}

.boton_primario:focus-visible {
  background-color: var(--alterno);
}

.boton_secundario:focus-visible {
  background-color: var(--alterno_claro);
}

.boton_secundario:focus-visible,
.boton_primario:focus-visible,
.boton_microsoft:focus-visible {
  border: 2px solid #F4B53F !important;
}

.boton_primario {
  background-color: var(--alterno);
  color: var(--blanco) !important;
}

.boton_primario:hover {
  background-color: var(--alterno);
}

.boton_secundario {
  color: var(--alterno) !important;
  background-color: var(--alterno_claro);
}

.boton_secundario:hover {
  background-color: var(--alterno_claro);
}

.boton_secundario:active {
  background-color: var(--alterno_claro) !important;
  color: #005CBB;
}

.boton_primario:first-child:active {
  background-color: var(--alterno);
  color: var(--blanco) !important;
  border: initial;
}

.boton_secundario:first-child:active {
  color: var(--alterno) !important;
  background-color: var(--alterno_claro);
  border: initial;
}

.contenido {
  width: 100%;
}

//Modal

.modal {
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  border-radius: 1.75rem;
  padding: 1.5rem 1.5rem;
}

.modal-header,
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
  padding: 0;
}

.modal-body {
  font-size: 1rem;
  color: var(--textos_claro);
}

.modal-header {
  text-align: center;
  row-gap: 0.625rem;
  padding-bottom: 1rem;
}

.modal-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--alterno);
}

.modal-title {
  font-size: 1.5rem;
}

.modal-texto {
  font-size: 0.875rem;
  line-height: 1.25;
  text-align: start;
}

.modal-correo {
  font-weight: 700;
  font-size: 0.875rem;
  display: inline-block;
  word-break: break-word;
  text-decoration-line: underline;
}

.modal-footer {
  .boton_secundario {
    font-weight: 600;
  }
}

.modal-header,
.modal-body,
.modal-footer {
  border: none;
}

.modal-politicas {
  max-width: 602px !important;
}

//Selects

.select {
  height: 56px;
}

.etiqueta_select {
  z-index: 2;
  line-height: 1;
  text-overflow: ellipsis;
  word-break: normal;
}

.select .ng-select-container {
  display: flex;
  align-items: center;
  z-index: 1 !important;
  height: 56px !important;
  padding: .5rem;
  border: 1px solid var(--borde);
  border-radius: 28px;
  box-shadow: none;
}

.select .ng-select-container input {
  padding-left: .5rem !important;
  height: 56px;
}


.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 0;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value{
  line-height: 1.2 !important;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  box-shadow: none !important;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  border: 2px solid #F4B53F;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: var(--textos) !important;
  text-overflow: ellipsis !important;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  line-height: 1;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: var(--error);
}

ng-select .ng-select-container span.ng-arrow-wrapper span.ng-arrow {
  background-image: url('assets/iconos/expand_more.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  height: 10px;
  width: 10px;
}

.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
  top: 0;
  border: none;
  transform: rotate(180deg);
}

.select_filtros .ng-select-container {
  background-color: var(--fondo_claro) !important;
}


.ng-select.select_lista .ng-select-container {
  border-radius: 1.875rem !important;
  padding: 8px;
}

.ng-select.ng-select-disabled>.ng-select-container {
  border-color: rgb(113, 115, 109, 0.12);
  background-color: white;
  cursor: default;
}

.ng-select.ng-select-disabled> .ng-select-container .ng-value-container .ng-placeholder{
  color: rgb(25, 28, 29, 0.38) !important;
}



/* Cargando */

.cargando_registros {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.cargando_registros h5 {
  margin-bottom: 0rem;
}

.cargando_registros .spinner-border {
  margin-left: 1rem;
  color: var(--textos);
}

.cargando_pequenio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cargando_pequenio h5 {
  margin-bottom: 0rem;
  font-size: 1rem;
  font-weight: 500;
}

.cargando_pequenio .spinner-border {
  margin-left: 0.8rem;
  color: var(--textos);
  --bs-spinner-width: 1.3rem;
  --bs-spinner-height: 1.3rem;
  --bs-spinner-border-width: 0.2em;
}

.titulos {
  font-size: 1.75rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  text-align: center;
  line-height: 1.2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor_principal {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}


//Mensajes

.contenedorImg img {
  width: 100%;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.infoMensaje {
  padding: 0rem 0.7rem 0rem 0.7rem;
}


button.nav-link.active {
  border-bottom: 2px solid #005CBB !important;
}

.acciones {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .btn {
    line-height: 1.2;
  }

  .boton_primario>div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
  }
}

.cargando {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acciones .spinner-border {
  width: 20px;
  height: 20px;
}

// button#ngb-nav-1.nav-link.active {
//   border-bottom: 2px solid #005CBB !important;
// }

.inputIconDate {
  position: absolute;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0.625rem;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(73, 69, 79, 0.12);
  border-radius: 100px;
}


//Listas

.titulo_tabla {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1;
}

.contenedor_tabla {
  margin: 2rem 0;
}

.tabla_lista {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  border-bottom: 1px solid #BFC8CA;

  .titulos {
    display: flex;
    align-items: center;
    height: 2.75rem;
    font-size: 0.6875rem;
    font-weight: 500;
    padding: 0 1rem;
    column-gap: .5rem;
    color: var(--titulos_tablas);
    background-color: var(--gris_icono);
  }

  .fila {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px;
    height: 36px;
    border-top: 1px solid #BFC8CA;
    padding: 0 1rem;
    column-gap: .5rem;

    .col_acciones span {
      font-size: 0.82rem;
      color: var(--iconos_intermedio)
    }
  }

  .titulo_movil {
    display: none;
  }
}

.estado {
  width: 5.125rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #fff;
  border-radius: 6.25rem;
  margin: 0 auto;
}

.estado_inactivo {
  background-color: #E81534;
}

.estado_activo {
  background-color: #008900;
}

.btn_acciones,
.form-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn_acciones {
  padding: 0.5rem;
  font-weight: 700;
}

.form-switch {
  padding-left: 3em;
}

.form-switch .form-check-input {
  cursor: pointer;
  width: 3.25rem !important;
  height: 2rem !important;
  border: 2px solid #6F797A;
  background-color: #E1E3E3;
}

.form-check-input:checked {
  background-color: var(--alterno) !important;
  border: none !important;
}

.form-check-input:focus {
  outline: unset;
  box-shadow: none !important;
}

.btn_acciones:hover {
  background-color: rgba(63, 72, 74, 0.08);
  border-radius: 50%;
}

.etiqueta_hover {
  display: none;
}

.btn_acciones:hover .etiqueta_hover,
.form-switch:hover .etiqueta_hover {
  position: absolute;
  display: block;
  bottom: -1.5rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: normal;
  text-align: center;
  background-color: var(--fondo_oscuro);
  color: var(--blanco_alterno);
}

.form-switch:hover .etiqueta_hover {
  left: -1.25rem;
}

.volver {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  left: 2rem;

  span {
    font-size: 1.25rem;
    color: var(--textos_claro);
    font-weight: 600;
    opacity: 50%;
    cursor: pointer;
  }
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width:575.98px) {
  .modal-correo {
    min-width: 13.125rem;
  }

  .modal-correo {
    text-align: center;
  }

  .titulos {
    font-size: 1.5rem;
  }

  .acciones {
    flex-direction: column;
    row-gap: .5rem;
  }

  .modal-body {
    padding: 0;
    text-align: center;
  }

  .volver {
    position: initial;
    padding: 1rem 0;
  }
}


@media (max-width:767.98px) {
  .input-wrapper {
    width: 100%;
    /* min-width: 16.25rem;
    max-width: 20rem; */
  }

  .modal-title {
    text-align: center;
    line-height: 1;
  }

  .modal-footer {
    justify-content: center;
  }
}

@media (min-width: 767.98px) and (max-width:991.98px) {
  .modal {
    --bs-modal-width: 700px;
  }
}
