<div id="cabecera">
    <div id="menuMobile" (click)="mostarMenu()" *ngIf="mostrarElemento">
        <span class="material-symbols-outlined" *ngIf="!menuMobile">menu</span>
        <span class="material-symbols-outlined" *ngIf="menuMobile">close</span>
    </div>
    <div class="contenedor_cabecera">
        <div class="institucional" (click)="irInicio()">
            <img class="logo_medium img-fluid container" src="assets/img/logo_sae_completo.svg" alt="">
            <img class="logo_small img-fluid" src="assets/img/logo_sae_responsive.svg" alt="">
        </div>
        <div class="usuario_info" *ngIf="usuario">
            <div class="escudo_contenedor" *ngIf="mostrarElemento">
                <img class="escudo_ie" *ngIf="fotoGuardada" src="data:image/jpeg;base64,{{fotoGuardada}}" alt="" />
                <img class="escudo_defecto" *ngIf="!fotoGuardada" src="assets/img/logo_alcaldia.svg" alt="" />
            </div>
            <div id="usuario" *ngIf="mostrarElemento">
                <img class="foto_usuario" *ngIf="usuario.foto && usuario.foto.codificacion"
                    src="data:image/jpeg;base64,{{usuario.foto.codificacion}}" alt="" />
                <span id="silueta" *ngIf="!(usuario.foto && usuario.foto.codificacion)"
                    class="material-symbols-outlined foto_usuario">
                    account_circle
                </span>
                <div class="descripcion_foto">
                    <p>{{ nombreUsuario | minusculas }}</p>
                    <p>{{ perfilUsuario.perfil.etiqueta | inicial }}</p>
                </div>
            </div>
            <div *ngIf="mostrarElemento">
                <button type="button" class="detalles_btn" (click)="toggleInfo()" tabindex="1">
                    <img class="id_icono" src="assets/iconos/id_icono.svg" alt="">
                    <p>Detalles del perfil y página</p>
                </button>
            </div>
        </div>
    </div>
    <div class="contenedor_inicio" routerLink="/login" *ngIf="mostrarConsultas">
        <div class="btn_inicio">
            <span class="material-symbols-outlined">
                home
            </span>
            <span class="etiqueta">Inicio</span>
        </div>
    </div>
</div>

<!-- Desplegable para información de perfil -->
<div class="container_perfil" *ngIf="toggleUser">
    <div class="perfil container-fluid container-xl">
        <img class="escudo" *ngIf="fotoGuardada" src="data:image/jpeg;base64,{{fotoGuardada}}"
            alt="Imagen de usuario" />
        <img class="escudo" *ngIf="!fotoGuardada" src="assets/img/escudo_ie_defecto.svg" alt="" />
        <div class="nombre">{{ nombreUsuario | minusculas }}</div>
        <div class="rol" *ngIf="perfilUsuario?.perfil?.etiqueta"> {{ perfilUsuario.perfil.etiqueta }}</div>
        <div class="colegio" *ngIf="nivelInstitucion">{{ perfilUsuario.colegio.nombre }}</div>
        <ng-container *ngIf="nivelInstitucion">
          <div class="sede" *ngIf="perfilUsuario?.sede.nombre"> <strong>Sede:</strong> {{ perfilUsuario.sede.nombre
              | inicial }}</div>
          <div class="jornada" *ngIf="perfilUsuario?.jornada?.nombre"> <strong>Jornada:</strong> {{
            perfilUsuario.jornada.nombre | inicial}} </div>
        </ng-container>
        <div class="jornada"  *ngIf="perfilUsuario?.localidad?.nombre && nivelUsuario == 2">
          <strong>Localidad: </strong>{{ perfilUsuario.localidad.nombre }}</div>
        <div class="jornada" *ngIf="nivelUsuario  == 0"><strong>Dependencia: </strong>{{ perfilUsuario?.dependencia?.nombre }}</div>

    </div>
    <div class="cambiar_contrasena" *ngIf="!esMicrosoft">
        <button type="submit" class="info_btn" (click)="contrasena(); toggleDropdown()">
            <div class="icono">
                <img class="icono_cerrar" src="assets/iconos/contrasenia_icono.svg" alt="">
            </div>
            <div class="contenido">
                <p class="titulo">Actualizar contraseña</p>
                <p class="info">Modifique su clave de ingreso al sistema</p>
            </div>
        </button>
    </div>
    <div class="cerrar_sesion">
        <button type="submit" class="info_btn" (click)="cerrarSesion()">
            <div class="icono">
                <img src="assets/iconos/menu/cerrarsesion.svg" alt="">
            </div>
            <p class="titulo">Cerrar sesión</p>
        </button>
    </div>
    <div class="cambiar_sede" [ngClass]="{'escondido': unicoRegistro == true || (nivelUsuario == 1  && unicoRegistro)}">
        <button type="submit" class="info_btn" (click)="cambiar()">
            <div class="icono">
                <img src="assets/iconos/cambiar_icono.svg" alt="">
            </div>
            <p class="titulo">Cambiar de {{texto_niveles}}</p>
        </button>
    </div>
    <div class="version">
        <p>Versión:</p>
        <p class="numero">{{ version }}</p>
    </div>
</div>
