<aside id="menu" [ngClass]="mostrarMenu ? 'menu_desplegado' : 'menu_recogido'">
  <div class="contenedor_titulo">
    <div class="titulo">
      Sistema de Apoyo Escolar
    </div>
  </div>
  <nav class="navegacion_menu">

    <app-cargando [mensaje]="'Cargando menú'" *ngIf="cargandoMenu"></app-cargando>
    <ul class="opciones" *ngIf="!cargandoMenu">
      <div ngbAccordion [closeOthers]="true">
        <ng-container *ngFor="let opcion of opcionesMenu; let i">
          <li ngbAccordionItem *ngIf="opcion.opciones.length === 0" tabindex="0"
          [class.opcion_activa]="opcionActiva === i">
            <button ngbAccordionButton class="opcion opcion_url" (click)="abrirUrl(opcion)" tabindex="-1">
              <img class="icono" [src]="opcion.icono" [alt]="opcion.v" />
              <div class="etiqueta">
                {{ opcion.catNombre }}
              </div>
            </button>
          </li>

          <li ngbAccordionItem *ngIf="opcion.opciones && opcion.opciones.length > 0" tabindex="0">
            <button ngbAccordionButton class="opcion" tabindex="-1">
              <img class="icono" [src]="opcion.icono" [alt]="opcion.catNombre" />
              <div class="etiqueta">
                {{ opcion?.catNombre }}
              </div>
            </button>
            <div ngbAccordionCollapse>
              <ul class="contenedor_subopciones">
                <ng-container *ngFor="let submenu of opcion?.opciones; let j">
                  <li class="submenu_opcion" [class.submenu_activo]="opcionActiva === j"
                    (click)="abrirUrl(submenu)">
                    <div>
                      <span class="etiqueta"> {{ submenu.serNombre}}</span>
                      <span class="iniciales">
                        {{ submenu?.serNombre | iniciales}}
                      </span>
                    </div>
                  </li>
                </ng-container>

              </ul>
            </div>
          </li>
        </ng-container>

        <ng-container *ngFor="let menu of menuGeneral; let a = index">
          <li ngbAccordionItem tabindex="0" routerLinkActive="opcion_activa"     [routerLinkActiveOptions]="{ exact: true }"
          [class.opcion_activa]="opcionActiva === a">
            <button ngbAccordionButton class="opcion opcion_url" (click)="abrirUrl(menu)" tabindex="-1">
              <img class="icono" [src]="menu.icono" [alt]="menu.serNombre" />
              <div class="etiqueta">
                {{ menu.serNombre }}
              </div>
            </button>
            <div ngbAccordionCollapse>
            </div>
        </ng-container>
        <!--  <li   (click)="cerrarSesion()" tabindex="0">
          <button  class="opcion opcion_unica" tabindex="-1">
            <img class="icono" src="assets//iconos/menu/cerrarsesion.svg" />
            <div>
              <span class="etiqueta">Cerrar sesion</span>
            </div>
          </button>
        </li> -->
      </div>
    </ul>
  </nav>

  <div id="toggleMenu" (click)="cambiarEstadoMenu()">
    <span class="material-symbols-outlined" *ngIf="!mostrarMenu">
      keyboard_double_arrow_right
    </span>
    <span class="material-symbols-outlined" *ngIf="mostrarMenu">
      keyboard_double_arrow_left
    </span>
  </div>
</aside>
