<app-cargando [mensaje]="'Cargando información del usuario'" *ngIf="cargandoPerfil && !cargandoPermisos"></app-cargando>
<app-cargando *ngIf="cargandoPermisos"></app-cargando>
<div id="contenedorSeleccion" class="container-lg" *ngIf="!cargandoPerfil && !cargandoPermisos">
  <div class="row">
    <section class="d-none d-md-block col-7">
      <app-carrusel-imagenes></app-carrusel-imagenes>
    </section>
    <section class="col-12 col-md-5">
      <app-bienvenida [vistaSeleccion]="vistaSeleccion"></app-bienvenida>
      <div class="contenido">
        <section *ngIf="vistaSeleccion == 'institucion'">
          <app-vista-institucion [infoUsuario]="infoUsuario" (accesoSeleccionado)="seleccionarAcceso($event)" (cerrar_sesion)="cerrarSesion($event)"></app-vista-institucion>
        </section>
        <section *ngIf="vistaSeleccion == 'institucion_sede_jornada'">
          <app-vista-inst-sede-jornada [infoUsuario]="infoUsuario" (accesoSeleccionado)="seleccionarAcceso($event)" (cerrar_sesion)="cerrarSesion($event)"></app-vista-inst-sede-jornada>
        </section>
        <section *ngIf="vistaSeleccion == 'no_institucion'">
          <app-vista-no-institucion [infoUsuario]="infoUsuario" (accesoSeleccionado)="seleccionarAcceso($event)" (cerrar_sesion)="cerrarSesion($event)"></app-vista-no-institucion>
        </section>
        <section *ngIf="vistaSeleccion == 'sin_accesos'">
          <app-sin-perfil (cerrar_sesion)="cerrarSesion($event)" class="error_perfil"></app-sin-perfil>
        </section>
      </div>
    </section>
  </div>
</div>
